@import '@/styles/variables/all.scss';

.content {
  position: relative;
  padding-top: 150px;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
