@import './variables/all.scss';
.container {
  position: absolute;
  top: -88px;
  width: 40px;
  height: 40px;
  background: $light-gray-color;
  border: none;
  cursor: pointer;
  z-index: 2;

  @media (max-width: 768px) {
    display: none;
  }
  div {
    img {
      width: 12px !important;
      height: 12px !important;
      min-width: 12px !important;
      min-height: 12px !important;
    }
  }
  &:hover {
    background: $grey-color;
  }
  &:active {
    background: #eeeeee;
  }
}
.previous {
  right: 120px;
}
.next {
  right: 80px;
}
